<div class="foot-tweet">
  <div class="left-footer">
    <%= link_to "ME", new_user_registration_path %>
  </div>
  <div class="middle-footer">
    POST
  </div>
  <div class="right-footer">
    BOOK
  </div>
</div>