   <div class="wrapper">
    <div class="head-tweet">
      <%= render "head_tweet" %>
    </div>
    <div class="main-tweet">
      <%= render "main_tweet" %>
    </div>
    <div class="foot-tweet">
      <%= render "foot_tweet" %>
    </div>
  </div>